
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
}

.button-group {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

button {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.log-dropdown {
    /* display: none; Hidden by default */
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: left;
}

.server-logs {
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: left;
}

.status {
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

.status-green {
    margin-bottom: 10px;
    color: #a7c957;
    font-weight: bold;
}