[Unit]
Description=NIST Demo Service
After=multi-user.target

[Service]
ExecStart=/opt/demo-server/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
